libaries that must be installed can be found in requirements.txt 

external sources that also must be installed: 

DATABASE OF WIKIDATA IDS: 
(more instructions can be found here : https://github.com/jcklie/wikimapper)
pip install wikimapper

wikimapper download en-wiki-latest --dir data

wikimapper create en-wiki-latest --dump dir --target data/index_enwiki-latest


NER ADDITIONAL MODELS 
python -m spacy download xx_ent_wiki_sm

nltk.download('punkt')
nltk.download('average_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
